body{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
.theme-orange{
    color:#E38B00
}
.theme-blue{
    color: #0C0B39
}
.theme-bold{
    font-weight: bold;
}
.theme-roboto{
    font-family: Roboto;
}
.sub-head{
    background-color: #0C0B39;
    padding: 10px;
}
.nav-fixed-top{
    background-color: white;
}
a:active,
a:hover,
a:focus, button:hover {
    outline: 0 none;
    cursor: pointer;
}

/* #E38B00 orange */
@keyframes sample{
    from{
        transform: translateX(20%);
        /* color: beige; */
    }
    to{
        transform: translateX(90%);
        /* color: blue; */
    }
}
.the-lord{
    animation-name: sample;
    animation-duration: 1s;
    /* animation: infinite; */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.sub-head button, .carousel-caption button, .online-course button, .our_achieve button, .get_result,.career-form button{
    background-color:#E38B00 ;
    color: #ffffff;
    font-size: 14px;
    border-radius: 0%;
    border: none;
    text-transform: capitalize;
    /* font-weight: bold; */
}
.sub-head button:hover, .carousel-caption button:hover,.online-course button:hover, .our_achieve button:hover, .get_result:hover, .career-form button:hover{
    background-color: #0C0B39;
    color: #fff;
    transform: translate(-2%,-2%);
    transition: background-color linear 250ms , color linear 250ms, transform linear 250ms;
}
.sub-head button:focus,
.sub-head button:active,
.sub-head button:visited{
    outline:none;
}
@media(min-width:900px){
    .sub-head .announce{
        margin-left: 5%;
        font-weight: bold;
        /* color: green; */
    }
    .navbar-collapse{
        margin-left: 10%;
    }
    .slider .carousel img{
        height: 90vh;
    }
}

.navbar-navv .nav-item .nav-link{
    color: #0C0B39 !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient( to right, #e38b00, #e38b00 50%, #0c0b39 50% );
    background-image: -moz-linear-gradient( to right, #e38b00, #e38b00 50%, #0c0b39 50% );
    background-image: -ms-linear-gradient( to right, #e38b00, #e38b00 50%, #0c0b39 50% );
    background-image: -o-linear-gradient( to right, #e38b00, #e38b00 50%, #0c0b39 50% );
    background-image: linear-gradient( to right, #e38b00, #e38b00 50%, #0c0b39 50% );
    background-size: 200% 100%;
    background-position: 100%;
}
.navbar-navv .nav-item .nav-link:active{
    color: #E38B00;
}

.navbar-navv .nav-item .nav-link:hover {
    transition: all 0.4s cubic-bezier(0, 0, 0.23, 1) ;
    background-position: 0%;
}


.dropdown-menuu{
    position: absolute;
    display:none;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12) !important;
    border: none !important;
}
.dropdown-menuu a{
    font-weight: lighter !important;
    text-transform: capitalize !important;
   color: #0C0B39;


}
.dropdown-menuu a:hover,
.dropdown-menuu a:active,
.dropdown-menuu a:focus{
    background-color: white;
    color: #E38B00 !important;
}

.dropdownn:hover .dropdown-menuu{
    display: block;

}

.carousel-indicators li{
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
    margin: -10px;
    /* height: 50px; */
}
.carousel-indicators li:active{
    color: #E38B00 !important;  
    background-color: #E38B00 !important; 
}
.carousel-inner{
    position: relative;
    
}
.carousel-caption h1{
    font-weight: bold;
    font-family: Roboto;
}

.carousel-caption{
    position: absolute;
    z-index: 999;
    top:10rem;
    bottom: 0;
    left: 15rem;
    right: 0;
    width: 50%;
    text-align: left;
    font-family: Roboto;
    font-weight: 900px;
}
.carousel-caption button{
    padding: 10px 30px 10px 30px;
    font-size: 16px;
}
.teachers{
    margin-top: 100px;
}
.teacherr, .teacherr-team{
    position: relative;
    height: 15em;
    margin-bottom: 100px;
    border: 1px solid #E38B00;
}
.second-div{
    height: 15em;
    width: 100%;
    border: 1px solid #0C0B39;
    margin-top: 7px;
    margin-left: -6px;
    position: absolute;
}

.third-div{
    color:white;
    background-color: #0C0B39;
    position: absolute;
    padding: 10px 30px 10px 30px;
    top:7em;
    font-family: Roboto;
    left:2em;
    right: 2em;
    text-align: center;
    /* font-weight: bold; */
    font-size: 30px;
}
.teacherr img, .teacherr h4, .teacherr-team img{
    color: #0C0B39;
    position: absolute;
   
}
.teacherr img{
    top: 5em;
    bottom: 5em;
    left: 6em;
    right: 6em;
    width: 60px;
    height: 60px;
}
.teacherr-team img{
    left: 4em;
    right: 4em;
    top: 2em;
    bottom: 2em;
    width: 200px;
    height: 300px;
}
.teacherr h4{
    top: 7.6em;
    bottom: 7.6em;
    right: 3.3em;
    left: 3.3em;
    text-align: center;
    font-size: 20px;
}

.more-contact{
    text-align: center;
    color: #0C0B39;
    height: 50vh;
    margin-top: 0px;
    margin-bottom: 50px;
    font-family: Roboto;
  }
  .box{
      background-color: #E38B00;
      height: 120px;
      width: 60px;
      margin-left: 48%;
  }
  .more-contact h2{
      font-weight: bold;
      font-size: 35px;
      margin-top: 20px;
      margin-bottom: 40px;
  }
  .underline{
      width: 10%;
      background-color: #E38B00;
      padding: 1px;
      margin-left: 46%;
      text-align: center;
  }
  .underline2{
    width: 22%;
    background-color: #E38B00;
    padding: 1px;
    margin-top: 5px;
    margin-left: 40%;
    margin-right: 48%;
    text-align: center;
}
.alex{
    margin-top: 20px;
}
.main-more{
    margin-top: 40px;
    margin-bottom: 50px;
}
.main-more div{
    display: inline;
}


.more-about,.more-about2 {
    background: #E38B00;
    color: #ffffff;
    position: relative;
    width: 400px !important;
    text-transform: uppercase;
    font-size: 18px;
}
.more-about{
    padding: 20px 60px 20px 40px;
}
.more-about:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-bottom: 62px solid white;
    border-left: 30px solid #E38B00;
    width: 0;
}

.more-about2{
    padding: 20px 50px 20px 60px;
}
.more-about2:before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    left:0;
    border-bottom: 61px solid  #E38B00;
    border-left: 30px solid white;
    width: 0;
}
.why-choose{
    margin-top: 250px;
    padding: 50px;
    text-align: center;
}
.why-choose h4{
    font-weight: bold;
}

.under1, .underr1{
    margin-left: 51%;
    margin-top: 20px;
}
.under1, .under2, .underr1, .underr2, .underr11, .underr22{
    width: 6%;
    background-color:white;
    padding: 0.5px;
    text-align: center;
    
}
.underr11, .underr22{
    width: 10%;
}
.under2, .underr2{
    margin-left: 40%;
    /* margin-top: 10px; */
}
.underr22{
    margin-left: 19%;
}
.underr1, .underr2,.underr11, .underr22{
    background-color:#0C0B39
}
.sub-why-choose,.sub-why-founder{
    margin-top: 50px;
}

.why{
    position: relative;
    height: 18em;
    margin-bottom: 20px;
    border: 1px solid #eee7e4;

}
.option-why{
    padding: 20% 20px 0 40px;
    text-align: left;
}
.second-why{
    height: 18em;
    width: 100%;
    border: 1px solid #514fb3;
    margin-top: 7px;
    margin-left: -6px;
    position: absolute;
}
.why a{
    color: white;
}
.why p{
    font-family: Calibri;
}
.founder{
    background-color: #F8F9FA;
    padding: 50px;
    /* margin-top: 50px; */
}

.founder-why{
    border: 1px solid #0C0B39;
    padding: 20px;

}
.founder-why img{
    width: 200px;
    height: 300px;
}
.option-founder{
    display: inline;
}
.option-founder1, .option-founder2, .option-founder3, .option-founder4{
    background-color:#E38B00 ;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
}
.option-founder2{
    left: 6em;
    right: 6em;
}
.option-founder3{
    left: 9.5em;
    right: 9.5em;
}
.option-founder4{
    left: 13em;
    right: 13em;
}
.option-founder1:hover, .option-founder2:hover, .option-founder3:hover, .option-founder4:hover{
    background-color: #0C0B39;
    transition: background-color linear 200ms;
}
.sub-why-founder h4{
    margin-top: 25px;
    font-weight: bold;
}
.online-course{
    padding: 50px;
}
.online-course h2{
    padding: 15px 0 15px 0;
}
.online-course  p{
    padding: 10px 0 10px 0;
    font-size: 16px;
}
.online-course button,.our_achieve button{
    padding: 10px 40px 10px 40px;
    font-size: 18px;
    text-transform: capitalize;
}
.mediaa{
    background-color: #F8F9FA;
    padding: 30px;
    margin-top: 15px;
}
.mediaa p, .mediaa2 p, .mediaa3 p{
    font-size: 15px;
    font-family: Calibri;
}
.mediaa2{
    background-color: #0C0B39;
    padding: 30px;
    margin-top: 15px;
}
.mediaa3{
    background-color: #E38B00;
    padding: 30px;
    margin-top: 15px;
    
}
.learn-course{
    padding: 50px 300px 50px 300px;
}
.learn-course .container{
    background-color: #0C0B39;
    padding: 70px;
    font-family: Roboto;
    opacity: 0.9;
}
.learn-course .container form{
    margin-top: 40px;
    opacity: 1;
}
.learn-course .container form input[type=text]{
    padding: 27px 50px 27px 50px;
    width: 67%;
    font-size: 18px;
    border:none;
    border-radius:none !important;
}
.learn-course .container form button{
    padding: 15px 40px 15px 40px;
    font-size: 18px;
    border:none;
    border-radius: none !important;
    background-color: #E38B00;
    margin-left: 15px;
}
.learn-course .container form input[type=text]:focus{
    outline: none !important;
}
.learn-course .container form button:hover{
    background-color:white;
    color:#0C0B39;
    transition:background linear 250ms , color linear 250ms;
}
.learn-course .container  h6{
    margin-top: 17px;
}
.teacherrs{
    margin-top: 50px;
}
.teacherrr{
    height: 11em;
    border: 1px solid #E38B00;
}

.teacherrr-div{
    color:white;
    background-color: #E38B00;
    position: absolute;
    padding: 8px 20px 8px 20px;
    top:4.8em;
    font-family: Roboto;
    left:30px;
    right: 30px;
    text-align: center;
    font-size: 30px;
}
.teacherrr img, .teacherrr h4{
    position: absolute;
   
}
.teacherrr img{
    top: 2em;
    bottom: 2em;
    left: 4.6em;
    right: 4.6em;
    width: 60px;
    height: 60px;
}
.teacherrr h4{
    top: 5em;
    bottom: 4em;
    right: 2.5em;
    left: 2.5em;
    text-align: center;
    font-size: 20px;
}
.events img{
    height: 18.5rem;
    width: 95%;
    top:1rem;
    left: 0rem;
    right: 0.5rem;
    bottom: 0.5rem;
    margin: 0 auto;
}
.events ol{
    list-style-type: none;
    counter-reset: li
}
.events ol .event {
    counter-increment: li
  }
  .events ol .event::before {
    content: counter(li); 
    color: #0C0B39;
    display: inline-block; width: 1em;
    margin-left: -1em;
    font-weight: bold;
    font-size: 30px;
  }


.events ol .event, .events ol .event a{
    font-size: 22px;
    color: #0C0B39;
     margin-top:30px;
     font-family: Roboto;

} 
.events ol .event a:hover{
    text-decoration: none;
    color: navy;
}
.events .timing{
    margin-left: -50px;
}  
.events .timing li{
    display: inline;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: none;
    color: #0C0B39;
}
.events .timing li a{
    text-decoration: none;
    color: #0C0B39;
}
.faq{
    margin-bottom: 20px;
}
.faq-right{
    background-color: #0C0B39;
    padding: 60px;
    height: 29.3rem;
}

.faq-left{
    background-image: url('assets/images/video-bg.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.accordion{
    margin-top: 15px;
}
.my-accordion{
    background-color: #0C0B39 !important;
    color: white;
}
.my-accordion .card-header{
    border:2px solid #E38B00;
    margin-top: 10px;
    padding: 5px;
  
}
.my-accordion .card-header button{
    color: white;
    font-size: 17px;
    font-weight: bold;
    font-family: Roboto;
}
.my-accordion .card-header button:hover,
.my-accordion .card-header button:visited,
.my-accordion .card-header button:active,
.my-accordion .card-header button:focus{
    text-decoration: none;
}
.my-accordion .card-header button i{
    background-color: #E38B00;
    border-radius: 20px;
    padding:6px;
    font-size: 12px;
}
.my-accordion.card-body{
    font-size: 14px;
}
.faq-left i{
    position: absolute;
    background-color: white;
    border-radius: 70px;
    padding:20px;
    font-size: 35px;
    color: #E38B00;
    top:6em;
    bottom: 0;
    right: 0;
    left: 9em;
    width: 70px;
    height: 70px;
    text-align: center;
}
.review-student{
    margin-top: 50px;
    font-family: Roboto;
}

.slick-carousel {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
  }
  .slick-carousel div, .slick-carousel .img, .slick-carousel .img:focus{
      border: none;
  }
   /* .img::before{
      background-color: blue;
      position: absolute;
  }
 */
 
  /* The width of each slide */
  .slick-slide {
    width: 350px;
  }
  
  .img {
    width: 350px;
    height: 350px;
  }
  .blog-news{
      margin-top: 40px;
  }
  /* .slick-next, .slick-prev {
    background-color: #E38B00 !important;
    color: white !important;
    width: 40px;
    height: 40px;
  }
 
  .slick-next:hover, .slick-prev:hover{
    color: white !important;
    background-color: #0C0B39 !important;
  } */
  .slick-prev, .slick-next {
    background: #e38b00 !important;
    height: 40px !important;
    width: 40px !important;
    top: unset;
    bottom: 20px;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: #0c0b39 !important;
}

  .single-item img{
      width: 70px;
      height: 70px;
      border-radius: 100px;
      margin-left: 40%;
      margin-top: 30px;
      margin-bottom: 20px;
  }
  .single-item  h5{
    margin-bottom: 20px;
  }
  .single-item{
      width: 70%;
      font-family: Roboto;
      text-align: center;
      margin: 0px auto;
      /* margin-top: 100px; */
  }
  .teacherrrr{
    /* position: absolute; */
    border: 1px solid #E38B00;
    height: 30rem;
    width: 80%;
    margin: 0px auto;
    z-index: 99999;
    top:10em;
    /* bottom: 0;
    left: 0;
    right: 0; */
}
.blog-news{
    background-size: contain;width: 100vw;background-repeat: no-repeat;margin-bottom: 100px;
}
.teacherrrr-div{
    /* position: absolute; */
    margin: 0px auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    border: 1px solid #0C0B39;
    height: 30rem;
    z-index: 99999;

   
}
.campus{
    /* position: absolute; */
}
  
.Talk{
    background-color: #E38B00;
    padding: 50px;
    color: white;
    width: 90%;
    margin: 0px auto;
    /* font-family: Roboto; */
}
.Talk input[type=text],.Talk input[type=email], .Talk select{
    padding: 10px;
    border-radius: unset;
}
.Talk input[type=text]:focus,.Talk input[type=email]:focus, .Talk select:focus{
    outline:none
}
.Talk  button{
    border:1px solid white;
    padding:5px 10px 5px 10px;
    border-radius: 20px;
    color: white;
}
.Talk  button:hover{
    color: white;
}
.lifecamp {
    font-family: Roboto; 
    margin-top: 100px;
}
.news .row{
    margin-top: 30px;
    font-family: Roboto; 
}
.news-colon, .our_achievement_colon{
    color: #0C0B39;
}
.card-body,.news-colon .card{
    border: none !important;
}
.news-colon .card{
    background-color: #f2f9f8;
}
.news-colon{
    margin-top: 20px;
}
.our_achievement_colon .card{
    box-shadow: 0px 0px 20px 0 rgba(0,0,0,.2);
}
.our_achievement_colon .card .btn{
    background-color: #0C0B39;
    color: white;
    font-size: 15px;
    padding: 8px 20px 8px 20px;
}
.our_achievement_colon .card .btn:hover{
    color: #0C0B39;
    background-color: white;
    border: 1px solid #0C0B39;
    transition:  background-color linear 250ms,  border linear 250ms;
}
.our_achievement_colon .card .btn:focus{
    outline: none !important;
}
.news-colon .card:hover{
    background-color:transparent;
    /* box-shadow: 3px 3px 3px 3px #f7f7f7 */
    box-shadow: 0px 0px 20px 0 rgba(0,0,0,.2);
}
.news-colon a{
    background-color: transparent;
    color: #E38B00;
    border: 1px solid #E38B00;
    border-radius: 15px;
}
.news-colon a:hover{
    background-color:#0C0B39;
    color:white
}
.footer{
    margin-top: 50px;
    background-color:#0C0B39;
    color:rgba(#fff, #fff, #fff, 0.1);
    padding: 50px;
    font-size: 13px;
}
.footer h6{
    font-size: 19px;
}
.footer ul li{
    list-style-type: none;
    text-decoration: none;
    margin: 8px;
    margin-left: -38px;
}
.footer li a{
    color: white;
    /* text-decoration: none; */
}
.footer2{
    background-color:#0C0B39;
    color:white;
    
}
.footer2 .container{
    border-top: 1px solid white;
    padding: 20px;
    font-size: 13px;
}
.footer2 span{
    float: right;
}
.footer2 span a{
    color: white;
    text-decoration: none;
}
.footer2 span a:hover,.footer li a:hover{
    color: #E38B00;
    text-decoration: none;
}
.quickLink{
    margin-top: 10px;
}
.stick{
    position: fixed;
    top:0;
    width: 100%;
    z-index:99999;
    box-shadow: 0px 0px 20px 0 rgba(0,0,0,.2);
}
.scroll {
    position: fixed;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #e38b00;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}
.scroll{
    display: inline;
}
.scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}
.scroll:hover {
    background-color: #ffffff;
   
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
}
.scroll:hover span{
    border-bottom-color:#e38b00
}
.close{
    /* position: absolute; */
    padding: 20px;
    color: white;
}

.close:hover,.navbar-toggler i:hover{
    cursor: pointer;
}
.sidebar{
    height: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    right:0;
    /* padding-top: 60px; */
    width: 0;
    background-color: #E38B00;
    transition: 0.5s;
    overflow-x: hidden;
    
}
.sidebar .main-side{
    margin-top: 80px;
    padding:30px;
}
.sidebar .main-side li{
    font-size: 18px;
}
.sidebar ul{
    list-style-type: none;
}
.sidebar ul li a{
    color: white;
}

.dropdown-container{
    display:none;
}
.main-drop:hover .dropdown-container{
    display:block;
    transition: 0.5s;
}
.jumbotron{
    
    background-size:cover;
}
.jumbotron h4{
    padding: 35px;
    font-family: Roboto; 
    font-weight: bold;
    font-size: 40px;
}
.online-course h1{
    font-size: 70px;
}
.online-course p{
    font-size: 14px;
    text-align: justify;
}
.our_story{
    position: absolute;
    top:11em;
    left: 17em;
    background-color: #e38b00;
    color: white;
    padding: 15px;
    width: 45%;
    font-size: 20px;
}
.teaching{
    margin-top: 20px;
}
.about_teaches{
    margin-top: 0px;
}
.about_teach{
    margin-top: -40px;
}
.about_teachers{
    margin-top: 5px;
}
.achieve .span{
    background-color: #e38b00;
    width: 13%;
    /* box-sizing: border-box; */
    padding: 3px;
    position: absolute;
    /* display: inline; */
    /* z-index: 99999; */
    top:1em;
}
.achieve h2{
    margin-left: 95px;
}
.our_achieve{
    margin-top: 30px;
}
.achieve_right1{
    width: 25rem;
    height: 25rem;
    float: right;
}
.achieve_right2 img{
    position: absolute;
    width: 23rem;
    height: 14rem;
    float: right;
    left:6rem;
    right: 0rem;
    top: 4em;
    /* margin-left: 100px; */

}
.achieve_right img{
    position: absolute;
    width: 23rem;
    height: 14rem;
    float: left;
    left:4rem;
    top: 4em;
    right: 0rem;
    /* margin-left: -20px; */

}
.our_achievement{
    margin-top: 60px;
}
.our_achieve button{
    border-radius: 30px;
    margin-top: 30px;
}
.search_student{
    margin-top: 30px;
}
.search_student form{
    padding: 20px;
}
.card{
    border: 0px;
}
.John{
    margin-top: 20px;
}
.John h6{
    margin-bottom: 17px;
}
.John p{
    line-height: 12px;
}
.upload_form{
    margin-top: 20px;
    position: relative;
}
.upload_form::before{
    background-color: #e38b00;
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: 99999;
    padding: 10px;
    content: '';
    opacity: 0.8;
}

.slider-for {
    margin: auto;
    max-width: 600px;
}
.history_slide {
    position: relative;
    color: black;
    border-bottom: 1px solid black;
}
.history_slide:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    left: 0;
    top: 65px;
    z-index: -1;
}
.timeline{
    font-family: Roboto;
    background-color: #F8F9FA;
    padding: 30px;
}

.timeline .fa {
    padding: 0.5rem;
}

.history-content{
    background-color: #e38b00;
}
.timeline .slick-center .fa {
    color: #e38b00;
    position: relative;
    border: 1px solid #e38b00;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 16px;
}
.timeline .slick-center h3 {
    font-weight: bold;
    color: #e38b00;
}
.timeline .slick-prev, .timeline .slick-next {
    display: none !important;
}
.sub_client{
    background-color: #fff;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
    color: black;
    padding: 10px;
}
.client{
    margin-top: 50px;
    margin-bottom: 100px;
}
.showcase-result-slider{
    margin-top: 50px;
}
.autoplay{
    margin-top: 10px;
    padding: 10px !important;
    overflow: hidden;
}
.sub_client{
    font-size: 13px;
    padding: 40px;
}
.sub_client:hover{
    cursor: pointer;
  
}
.sub_client h6{
    color: #e38b00;
}
.autoplay{
    height: 22rem;
}
.autoplay .slick-next, .autoplay .slick-prev{
    top: 20rem;
    /* position: absolute;
    z-index: 99999; */
    
}
.autoplay .slick-next {
    left: -70px !important;
    margin-left: 5px;
    margin-left: 56%;
    
}
.autoplay .slick-prev {
    left: -110px!important;
    margin-left: 53%;
}
.autoplay div:nth-child(){
    padding: 20px !important;
}
.result-slider img{
    /* width: 14rem; */
    height: 15rem;
    padding: 10px;
}
.result-slider .slick-prev{
    left: -110px !important;
}
.result-slider .slick-next{
    left: -70px !important;
    margin-left: 5px;
}
.single-item .slick-prev, .single-item .slick-next{
    top: 250px !important;
}
.single-item .slick-prev{
    left: 130px !important;
}
.single-item .slick-next{
    left: 200px !important;
    margin-left: 5px;
}
.our_achieve .nav-item {
    margin-left: 15px;
    
}

.our_achieve .nav-item a{
    background-color: #fff;
    color: #e38b00;
    border: 1px solid #e38b00;
    padding: 15px 50px 15px 50px;
}
.our_achieve .nav-item a:hover,
.our_achieve .nav-item  .active{
    color: #fff;
    background-color: #e38b00 !important;
}

.our_achievement_colon{
    margin-top: 30px;
}
.our_achievement_colon img{
    height: 250px;
}
.fas-team{
    position:absolute;
    background-color: #e38b00;
    color: #fff;
    z-index: 99999;
    font-family: Roboto;
    top:19em;
    left: 3em;
    right: 3em;
    text-align: center;
    padding: 20px 30px;
}
.fac-gallery{
    margin-top: 20px;
}
.fac-gallery-colon:hover .teacherr-team{
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    transform: rotateY(180deg);
}
.gal-img img{
    height: 230px;
    width: 23rem;
    margin-top: 20px;
}
.portfolio h5, .result-colon h5{
    position: absolute;
    top: 4em;
    left: 3em;
    z-index:99999;
    color: #fff;
    font-family: Roboto;
    opacity: 0;

}
.portfolio-colon,.our_achievement_colon, .result-slider, .result-colon{
    transition-duration: 0.4s;
    animation: winanim 0.5s;
}

.portfolio::before{
    height: 230px;
    width: 22rem;
    margin-top: 20px;
    
    background-color: rgba(12, 11, 57, 0.7);
    
    content: "";
    position: absolute;
    z-index: 99999;
    color: #fff;
    opacity: 0;
}
.portfolio-colon:hover .portfolio::before, 
.portfolio-colon:hover .portfolio h5{
     opacity: 1;
     transition:opacity linear 250ms ;
}
@keyframes winanim {
    0% {
        opacity: 0;
        transform: scale3d(.3,.3,.3);
    }

    50% {
        opacity: 1;
    }
}
.blog-news{
    margin-top: 50px;
}
.blog-detail {
    color: rgb(12, 11, 57);
}
.blog-detail p{
    font-size: 14px;
}
.blog-detail h5, .blog-detail h6{
    font-weight: bold;
}
.share li a{
   
    color: #e38b00;
    background-color: white;
    border: 1px solid #e38b00;
    border-radius: 50px;
    margin-right: 16px;
    text-align: center;
}
.share li a:hover,.search-comment span{
    background-color: #e38b00;
    color: white;
}
.comments{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
.comments h5{
    font-size: 16px;
    
}
.comments span a{
    font-size: 14px;
    color: rgb(12, 11, 57);
}
.comments span a:hover,.blog-cate li a:hover{
    text-decoration: none;
    color: #e38b00;
}
.search-comment input[type=text]{
    border-radius: 0px !important;
}
.search-comment input[type=text]:focus{
    border: 1px solid rgb(12, 11, 57);
    outline: transparent !important;
    outline-color: transparent !important;
}
.search-comment span:hover{
    cursor: pointer;
}
.blog-cate li a{
    color:  rgb(12, 11, 57);
}
.blog-cate li span{
    background-color: #e38b00;
    color: white;
}
.blog-recent a{
    text-decoration: none;
    color: rgb(12, 11, 57);
}
.blog-recent a:hover{
    color: #e38b00;
}
.Contrary{
    font-size: 15px;
}
.career-form{
    padding: 50px 30px;
    color: rgb(12, 11, 57);
    position: absolute;
    top: 0;
    width: 94%;
    margin: 0px auto;
}
.career{
    margin-left: 25%;
    margin-right: 25%;
}

.custom-upload{
    border: 2px dashed rgba(0,0,0,.15);
    padding: 10px;
    cursor: pointer;
    text-align: center;
    
}
textarea{
    resize: none;
}
.addr, .addr1, .addr2{
    background-color: rgb(12, 11, 57);
    padding: 30px 35px;
    position: absolute;
    left: -11em;
    z-index:99999;
    right:0em;
    float: right;
    width: 100%;
    font-size: 13px;
}
.addr{
   
    top: 7em;
}
.addr1{
    top: 20em;
}
.addr2{
    top: 31em;
}
.my-icon img{
    width: 40px;
    height: 40px;
   
}
.my-icon{
    background-color: #e38b00;
    padding: 15px;
    position: absolute;
    top: 2.5em;
    left: 20em;
    z-index:99999;
}
.contact-form{
    width: 80%;
}
iframe{
    width: 100%;
}
.contact-footer{
    margin-top: 0px !important;
}
/* preloader */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c0b39;
    z-index: 999999;
    text-align: center;
}
.preloader .spinner {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 46%;
    -webkit-transform: translateY(-46%);
    transform: translateY(-46%);
}
.preloader .spinner .double-bounce1, .preloader .spinner .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
.preloader .spinner .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
/* end of preloader */
